<div class="row">
    <div class="col-12">
        <div class="view-contentbox view-contentbox__table">
            <div class="view-widget__text row">
                <div class="col-12">
                    <button type="button" (click)="AddSchool()" class="btn btn-success" id="add_school_btn">
                        <span class="atom-icon atom-icon--white">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        Add New School
                    </button>
                </div>
                <div class="col-12 pt-4 list-height" style="min-height:350px; height:calc(100vh - 390px);">
                    <app-school-list></app-school-list>
                </div>
            </div>
        </div>

    </div>
</div>